.app-login {
	padding: 1em;
}

.app-login h1 {
	/* background-image: url(./img/logo.png); */
	background-repeat: no-repeat;
	background-size: contain;
	font-weight: lighter;
	margin-bottom: 1.5em;
	overflow:hidden;
	/* text-indent: -999em; */
}

.app-login h1 small {
	font-size: .5em;
}

.app-login h1 strong {
	color: #333;
	display: block;
	font-size: .75em;
	font-weight: lighter;
	padding: .25em;
}

.app-login p {
	text-align: center;
}
