@import-normalize;

html {
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: block;
	margin: 0 auto;
	max-width: 800px;
}

canvas {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}

button {
	background: none;
	border: none;
}