.city-score-table {
	border-collapse: collapse;
	font-size: .85em;
	margin: 0 auto 2em;
    width: 100%;
}

.city-score-table .number {
	text-align: right;
}

.city-score-table th,
.city-score-table td {
	padding: .5em .25em;
    vertical-align: baseline;
}

.city-score-table th {
	text-align: left;
	vertical-align: bottom;
}

.city-score-table td {
	border-top: 1px solid #ccc;
}

.city-score-table table {
    table-layout: fixed;
    width: 100%;
}

.city-score-table table td {
	border-top: none;
	padding: 0;
}

.city-score-table table td:last-child {
	width: 3em;
}

.city-score-table button {
	font-size: .85em;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}