.city-heading {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 1.25em;
  padding: .5em 0 1em;
  text-align: left;
  width: 100%;
}

.city-heading .image-city-token {
  display: block;
  margin: 0 .25em 0 0;
}

.city-heading .city-score {
  font-size: 1.25em;
  margin-left: auto;
  text-align: right;
}
