.city-grid {
	font-size: 0;
	margin: 0 0 24px;
	padding: 0;
	position: relative;
}

.city-grid li {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	position: relative;
}

.city-grid li button {
	background: #ccc;
	border: none;
	bottom: 0;
	display: block;
	height: 100%;
	font-size: 14px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
    width: 100%;
}

.city-grid.four-by-four li {
	padding: 25% 0 0;
	width: 25%;
}

.button-tile {
	background-color: #ccc;
	border: 1px solid #333;
	display: inline-block;
	height: 0px;
	margin: 0 0 10px;
	padding: 100% 0 0;
	position: relative;
	width: 100%;
}

.button-tile span {
	font-size: 14px;
	font-weight: bold;
	left: 0;
	margin: -.5em 0 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
}