.city-grid {
    font-size: 0;
    margin: 0 auto 24px;
    padding: 0;
    position: relative;
}

.city-grid li {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	position: relative;
}

.city-grid.four-by-four li {
	padding: 25% 0 0;
	width: 25%;
}

.city-grid button {
	background-color: #ccc;
	border: none;
	border-radius: 4px;
	bottom: 0;
	color: #fff;
	display: block;
	height: 100%;
	font-size: 11px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
    width: 100%;
}

.city-grid .image-tile-icon {
	display: block;
	margin: 0 auto .25em;
}

.city-grid .house {
	background-color: #84472e;
}

.city-grid .office {
	background-color: #2c6084;
}

.city-grid .shop {
	background-color: #e9a346;
}

.city-grid .factory {
	background-color: #6e6d70;
}

.city-grid .park {
	background-color: #40784a;
}

.city-grid .tavern {
	background-color: #962e31;
}

.city-grid .unidentified-tile {
	background: repeating-linear-gradient(45deg,#FF7900,#FF7900 10px,#8B4000 10px,#8B4000 20px);
}