.city-buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2em 0;
}

.city-buttons button {
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: 0;
  padding: .75em 0;
  transition: all ease .25s;
  width: 49%;
}

.city-buttons button:focus {
  border-color: #333;
}

.city-buttons .active {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.city-buttons .button-scoring-guide {
  border: none;
}