.css-icon-container  {
	align-items: center;
	border: 1px solid #ccc;
	display: inline-flex;
	font-size: 0;
	height: 18px;
	justify-content: center;
	margin: auto;
	vertical-align: middle;
	width: 18px;
}

.css-icon-container .shop {
	background-color: #e9a346;
	display: block;
	height: 16px;
    margin-left: 5px;
    margin-right: 5px;
	position: relative;
    width: 8px;
}

.css-icon-container .shop:before,
.css-icon-container .shop:after {
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	bottom: 0;
	content: "";
	height: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.css-icon-container .shop:before {
	border-right: 5px solid #e9a346;
	right: 100%;
  }

.css-icon-container .shop:after {
	border-left: 5px solid #e9a346;
	left: 100%;
}

.css-icon-container .park {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #40784a;
	height: 0;
	display: inline-block;
	vertical-align: middle;
}

.css-icon-container .office {
	background-color: #2c6084;
	display: block;
	height: 8px;
    margin: 2px 0;
	width: 16px;
}

.css-icon-container .tavern {
	background-color: #962e31;
	display: block;
	height: 12px;
	width: 12px;
	transform: rotate(45deg);
}

.css-icon-container .house {
	background-color: #84472e;
    display: block;
	height: 8px;
    margin-top: 4px;
    position: relative;
	width: 16px;
}

.css-icon-container .house:before {
	bottom: 100%;
	border-left: 8px solid transparent;
	border-bottom: 6px solid #84472e;
	border-right: 8px solid transparent;
	content: '';
	margin-top: 2px;
	position: absolute;
}

.css-icon-container .factory {
	background-color: #6e6d70;
	display: block;
	height: 12px;
	position: relative;
	width: 12px;
}

.css-icon-container .factory:before,
.css-icon-container .factory:after  {
	background-color: #6e6d70;
	content: '';
	display: block;
	height: 12px;
	position: absolute;
	width: 12px;
}

.css-icon-container .factory:before {
	transform: rotate(30deg);
}

.css-icon-container .factory:after {
	transform: rotate(60deg);
}