.css-icon-shop  {
	border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 2px;
}

.css-icon-shop span {
	background-color: #e9a346;
	display: block;
	height: 8px;
	position: relative;
	transform: rotate(90deg);
    width: 16px;
}

.css-icon-shop span:before,
.css-icon-shop span:after {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	right: 0;
	width: 0;
}

.css-icon-shop span:before {
	border-bottom: 5px solid #e9a346;
	bottom: 100%;
  }

  .css-icon-shop span:after {
	border-top: 5px solid #e9a346;
	top: 100%;
  }