header {
	background-color: #fff;
	margin: 0 0 2em;
	padding: 0;
	position: relative;
}

header h1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

header h1 img {
    margin-right: .25em;
}