img {
  max-width: 100%;
}

.image-game-cover {
	display: block;
	height: auto;
	width: 125px;
} 

.image-city-token {
    height: auto;
    width: 3em;
}

.image-special-tavern-icon {
    align-items: center;
	border: 1px solid #ccc;
	display: inline-flex;
	font-size: 0;
	height: 18px;
	justify-content: center;
	margin: auto;
    object-fit: contain;
	vertical-align: middle;
	width: 18px;
}

.image-tile-icon {
    display: inline-block;
    height: auto;
    margin-right: .25em;
    width: 2em;
    vertical-align: middle;
}

.image-medal-icon {
    display: inline-block;
    height: auto;
    width: 1.5em;
    vertical-align: middle;
}

