img {
  max-width: 100%;
}

.image-game-cover {
	display: block;
	height: auto;
	width: 125px;
} 

.image-city-token {
    height: auto;
    width: 3em;
}

.image-special-tavern-icon {
    display: inline-block;
    height: auto;
    margin-right: .25em;
    width: 1em;
    vertical-align: middle;
}

.image-tile-icon {
    display: inline-block;
    height: auto;
    margin-right: .25em;
    width: 2em;
    vertical-align: middle;
}

.image-medal-icon {
    display: inline-block;
    height: auto;
    width: 1.5em;
    vertical-align: middle;
}

