 .nav-game-selection {
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	box-sizing: border-box;
	margin: 0 auto;
}

.nav-game-selection a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.nav-game-selection img {
	display: block;
	height: auto;
	max-width: 125px;
	width: 100%;
} 

/*




.nav-game-selection a:first-child {
	border-bottom: 10px solid #fff;
}

*/

/* @media screen and (min-width: 768px){
	.nav-game-selection {
		text-align: justify;
		white-space: nowrap;
	}

	.nav-game-selection a {
		border-bottom: none;
		border-top: none;
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}
	.nav-game-selection a:first-child {
		border-bottom: none;
	}
} */