html,
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}


strong {
	font-weight: bold;
}

ul {
	margin: 0;
}

h1,
h2,
h3 {
	color: #333;
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

p,
li {
	font-size: 18px;
}

.total-score {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: 2em;
    text-align: right;
}
