html,
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

strong {
	font-weight: bold;
}

small {
	font-size: .8em;
}

ul {
	margin: 0;
}

h1,
h2,
h3 {
	color: #333;
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

p,
li {
	font-size: 1em;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.total-score {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: 2em;
  text-align: right;
}

.app-title {
	padding: 1em 0 1.5em;
}

.game-title {
	margin-bottom: 1.5em;
}
